@import "./../../design-tokens/css-variables.scss";

.map-container {
    min-width: 60vw;
    height: 84vh;
    border-radius: 0.5em;
    padding: calc(10px + 0.1vw + 0.1vh);
    background-color: var(--color-cream);
}


.marker {
    width: 15px;
    height: 15px;
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl-group > button {
    background-color: var(--color-cream); /* Set your desired background color */
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl-geocoder.mapboxgl-ctrl > input {
    background-color: var(--color-cream); /* Set your desired background color */
    border-radius: .5em;
  }