@import "./../../design-tokens/css-variables.scss";
.navbar {
    width: 100%;
    height: 10%;
    background-color: var(--color-cream); /* Adjust as needed */
    color: var(--color-purple); /* Adjust text color as needed */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-size: var(--font-size-site-title);
    font-family: var(--font-body);
    font-weight: 800;
    padding: calc(15px + 0.5vw);
    text-decoration: none;
    color: var(--color-purple);
}

.site-nav {
    font-size: var(--font-size-page-title);
    font-family: var(--font-body);
    font-style: bold;
    padding: calc(15px + 0.5vw);
    text-decoration: none;
    color: var(--color-purple);
}