@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --color-purple: #825EEB;
    --color-cream: #FFFBF2;
    --color-orange: #E78E7A;
    --color-gray: #342f31;
 
 
    --font-size-site-title: calc(102px + 0.2vw);
    --font-size-page-title: calc(24px + 0.2vw);
    --font-size-input: calc(14px + 0.2vw);
    --font-size-body: calc(10px + 0.2vw);
    --font-size-button: calc(20px + 0.2vw);
 
 
    --font-size-card-title: calc(18px + 0.2vw);
    --font-size-card-info: calc(14px + 0.2vw);
 
 
    --font-family: 'Be Vietnam Pro', sans-serif;
 }
 

