:root {
    --color-purple: #825EEB;
    --color-cream: #FAF2DD;
    --color-orange: #E78E7A;
    --color-gray: #342f31;

    --font-size-site-title: calc(42px + 0.2vw);
    --font-size-page-title: calc(24px + 0.2vw);
    --font-size-h2: calc(18px + 0.2vw);
    --font-size-input: calc(14px + 0.2vw);
    --font-size-h4: calc(12px + 0.2vw);
    --font-size-body: calc(10px + 0.2vw);

    --font-header: 'Inika';
    --font-regular: 'Inter';
}

