@import "./../../design-tokens/css-variables.scss";

/* .container {
  font: var(font-family);
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  color: var(--color-purple);
  font: var(font-family);
}

.header p {
  color: var(--color-purple);
  font: var(font-family);
}

.button {
  margin: 20px 0;
} */

/* .login {
  background-color: var(--color-purple);
  color: var(--color-cream);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.signup {
  background-color: transparent;
  color: var(--color-purple);
  border: 2px solid var(--color-purple);
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
} */

/* .background-with-gradient {
    background-image: url('./../../media/she-treks-stock-home.jpeg');
    background-size: cover;
    position: relative;
}
.gradient-overlay {

    width: 50%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;


    background: linear-gradient(to right, var(--color-cream), rgba(255, 255, 255, 0));
}

.photo1 { background-image: url('/path-to-your-image-1.jpg'); }
*/
body, html {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}


.container {
  display: flex;
  position: fixed;
  width: 100%;
  left: 20;
  height: 100vh; /* Full height */
  background-image: url('./../../media/she-treks-stock-home.jpeg');
  background-size: cover;
  background-position: center;
}

.header {
  text-align: left;
  color: var(--color-purple);
  padding: 20px 20px;
  margin: 20 10px;
  position: absolute;
  z-index: 9999;
  margin-left: 50px;
}

.header .siteTitleL {
  font-size: var(--font-size-site-title);
  font-family: var(--font-family);
  margin-top: 200px;
}

.header p {
  font-family: var(--font-family);
  font-size: var(--font-size-page-title);
  font-style: italic;
  margin-top: 10px;
  margin-left: 10px;
}

.button-container {
  width: 400px;
  height: 7%;
  display: inline-flex;
  justify-content: left;
  margin-top: 460px;
  margin-left: 50px;
  position: absolute;
  z-index: 9999;
}

.login, .signup {
  font-family: var(--font-family);
  font-size: var(--font-size-button);
  padding: 10px 30px;
  margin: 0px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
}

.login {
  background-color: transparent;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
}

.signup {
  background-color: var(--color-purple);
  color: var(--color-cream);
}

.login:hover {
  background-color: transparent;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}

.signup:hover {
  background-color: var(--color-orange);
  color: var(--color-cream);
  border: 1px solid var(--color-cream);
}

.background-with-gradient {
  /* Assuming there's a gradient needed on top of the image */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to right, rgba(0,0,0,0.3), rgba(0,0,0,0.7)); */
}

.gradient-overlay {

    width: 80%;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;


    background: linear-gradient(to right, var(--color-cream) 0%, rgba(255, 251, 242, .8) 50%, rgba(255, 255, 255, 0) 100%);
}