@import "./../../design-tokens/css-variables.scss";

.search-page {
    max-width: 100vw;
    height: 100vh;
}

.inner-search {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    max-height: 90vh;
    background-color: var(--color-cream);
}

.no-activities {
    min-width: 35vw;
    background-color: var(--color-cream);
    justify-content: center;
}

.activities {
    min-width: 35vw;
    background-color: var(--color-cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2vh;
    overflow-y: auto;
    max-width: 90vw;
}

.act-container {
    max-width: 90vw;
    padding-bottom: 2vh;
}