@import "./../../design-tokens/css-variables.scss";

.profile-pic-thumbnail {
    width: 30px; /* Set the desired width for the image */
    height: 30px; /* Set the desired height for the image */
    border-radius: 50%; /* Make the image round by setting border-radius to 50% */
    margin-right: 10px; /* Adjust the margin for spacing between image and text */
}

.trips-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-cream);
}

.trips-content {
  max-height: 90vh;
  overflow-y: auto;
  background-color: var(--color-cream);
}

.trips-h1 {
  font-size: var(--font-size-page-title);
  font-family: var(--font-family);
  color: var(--color-gray);
  margin-left: 3vw;
}

.trips-h2 {
  font-size: var(--font-size-nav-title);
  font-family: var(--font-family);
  color: var(--color-gray);
  margin-left: 3.5vw;
  margin-bottom: 1vh;
}

.trips-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vw;
}

.cards-section {
  display: flex;
  flex-direction: row;
  margin-left: 4vw;
}

